<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate">
    <i class="anticon trigger" [class.anticon-menu-fold]="!isCollapsed" [class.anticon-menu-unfold]="isCollapsed" (click)="isCollapsed=!isCollapsed"></i>
    <!-- <div class="logo"> -->

      <nz-card nzHoverable style="width:40px; height:45px; margin: 18px;" [nzCover]="coverTemplate" >
          <!-- <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta> -->
      </nz-card>
      <ng-template #coverTemplate>
          <img alt="example" [src]="imagePath"/>
        </ng-template>
  
    <!-- </div> -->
    
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item>
        <span title><i class="anticon anticon-user"></i><span class="nav-text">TEST</span></span>
        <!-- <ul>
          <li nz-menu-item>Tom</li>
          <li nz-menu-item>Bill</li>
          <li nz-menu-item>Alex</li>
        </ul> -->
      </li>
      <li nz-menu-item>
        <span title><i class="anticon anticon-team"></i><span class="nav-text">SETTING</span></span>
        <!-- <ul>
          <li nz-menu-item>Team 1</li>
          <li nz-menu-item>Team 2</li>
        </ul> -->
      </li>
      <li nz-menu-item><span><i class="anticon anticon-file"></i><span class="nav-text">DATA</span></span></li>
    </ul>
  </nz-sider>
  <nz-layout>
    <!-- <nz-header style="background: #fff; padding:0;">
      
    </nz-header> -->
    <nz-content style="margin:0 16px;">
      <!-- <nz-breadcrumb style="margin:16px 0;">
        <nz-breadcrumb-item>User</nz-breadcrumb-item>
        <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
      </nz-breadcrumb> -->
      <router-outlet>

      </router-outlet>

      <!-- <div style="padding:24px; background: #fff; min-height: 360px;">
        Bill is a cat.
      </div> -->
    </nz-content>
    <nz-footer style="text-align: center;"> ICIC LAB©2018 Implement By Siqiyaoyao</nz-footer>
  </nz-layout>
</nz-layout>
<ng-template #trigger>
  <i class="anticon anticon-up"></i>
</ng-template>
