<nz-layout>
    <div style="height:50px; ">
    </div>
  <h1> Sternberg Working Memory Test</h1>
  <nz-content>
  <p>
  On the following trials,you will be see a sequence of patterns presented one at a time printed in white.
  <br>
  Immediately following each sequence, you will see a final pattern. Your task is to decide whether or not the 
  final pattern appeared in the preceding sequence.
  </p>
  <p>
  If the final pattern appeared in the sequence, press the left('A') key.
  <br>
  If the final pattern was NOT in the sequence, press the right('D') key.
  </p>

  <p>
  Please enter your name and click the 'Start' button to begin.
  </p>
    
  </nz-content>
  
  <nz-footer>
    <nz-input-group nzSearch nzSize="large" [nzSuffix]="suffixButton" nzPrefixIcon="anticon anticon-user">
      <input type="text" nz-input placeholder="Please enter your ID" [(ngModel)]="userId">
    </nz-input-group>
    <ng-template #suffixButton>
      <button nz-button nzType="primary" nzSize="large" (click)="startTest()" nzSearch>Start</button>
    </ng-template>

      <!-- <button nz-button nzType="primary" (click)="startTest()">Start</button> -->
  </nz-footer>
</nz-layout>
